#header {
    box-sizing: border-box;
    padding: 1em 1.5em;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #ffffff;
    color: #777777;
    border-bottom: 2px solid #cccccc;
}
ul li {
    display: inline;
    float: right;
    padding: 2em 1em;
}

#logo{
    float: left;
    background-color: #4aaaa5;
}